.containerfooter {    
    /*background: rgb(61,73,70);
    background: linear-gradient(90deg, rgba(61,73,70,1) 0%, rgba(72,82,74,1) 50%, rgba(69,211,252,1) 100%);*/
    background-image: url(../fondo.png);
    padding: 70px 20px;
    display: flex;
    flex-wrap: wrap; 
    
}
.icon {
    font-size: 40px;
    color: #18181a;
    margin-right: 10px;
    cursor: pointer;
  }
  .menu-flecha{
    font-size: 30px;
    margin-right: 10px;
    cursor: pointer;
  }